<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML</title>
</head>
<body>
    <!-- poner nuestro h1 -->
    <header>
        <div><img src="images/logo-mercado-liebre.svg" alt="ml logo"></div>
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href='home.html'>Ofertas</a></li>
                <li><a href='officialStores.html'>Tiendas Oficiales</a></li>
                <li><a href='sell.html'>Vender</a></li>
                <li><a href='help.html'>Ayuda</a></li>
            </ul>
            <ul>
                <li><a href='home.html'>Creá tu cuenta</a></li>
                <li><a href='officialStores.html'>Ingresá</a></li>
                <li><a href='sell.html'>Mis compras</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <section class="section-1">
            <article>
                <div><img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></div>
                $6.770
                40% OFF
                Cafetera Moulinex
            </article>
            <article>
                <div><img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></div>
                $230.000
                20% off
                MacBook Pro 2019
            </article>
            <article>
                <div><img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></div>
                $70.500
                10% off
                Samsung Galaxy S10
            </article>
            <article>
                <div><img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></div>
                $23.200
                5% off
                SmartTv Samsung 43"
            </article>
        </section>
        <section class="section-2">
            <article>
                <div><img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></div>
                $6.770
                40% off
                Cafetera Moulinex
            </article>
            <article>
                <div><img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></div> 
                $230.000
                20% off
                MacBook Pro 2019
            </article>
            <article>
                <div><img src="images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung"> </div>
                $70.500
                10% off
                Samsung Galaxy S10
            </article>
            <article>
                <div><img src="images/img-tv-samsung-smart.jpg" alt="imagen SmarTv"> </div>
                $23.200
                5% off
                SmartTv Samsung 43"
            </article>
        </section>
    </main>

    <footer>

        <ul>
            <li>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>
                    Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
            <li>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
            <li>
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </li>
            <li>
                <h5>© 1999-2020 MercadoLiebre S.R.L.</h5>
            </li>
        </ul>
     
    </footer>

</body>
</html>