<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8"> <!-- indica la codificación de caracteres utilizada -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- asegurará que el navegador, muestre tu layout correctamente a una escala de 1:1. Ningún zoom será aplicado -->
      <title>ML</title> <!-- titulo que se muestra en la ventana del navegador -->
      <link rel="stylesheet" href="css/position.css"> <!-- incluimos css -->
  </head>
  <body>
    <h1>Position    </h1>
    <main>
      <div class="background-color-gray"></div>
      <section class="container">
        <article class="background-color-green"><h2>1</h2></article>
        <article class="background-color-yellow"><h2>2</h2></article>
        <article class="background-color-blue"><h2>3</h2></article>
        <article class="background-color-red position-z-1"><h2>4</h2></article>
        <article class="background-color-orange"><h2>5</h2></article>
        <article class="background-color-purple position-z-0"><h2>6</h2></article>
      </section>
    </main>

  </body>
</html>
