@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
    height:100%;
}

main {
    width: 90%;
    margin: auto;
}

nav {
    display: none;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
    margin-bottom: 10px;
    padding: 15px;

}

h2 {
    font-size: 24px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 18px;
}
p {
    font-size: 12px;
}
i {
    font-size: 2em;
    margin-bottom: 10px;
}
header {
    background-color: #EAC926;
}

/* HEADER */
/* logo & search bar */
.container-logo-search-bar {
  display: flex;
}
.container-logo-search-bar div {
  width: 50%;
}
.container-logo-search-bar div img {
  margin: 20px;
}
.container-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-search-bar form {
  display: flex;
  justify-content:space-between;
}
.container-search-bar i {
  font-size: 1em;
  margin-bottom: 0;
}

.border-radius-15 {
    border-radius: 15%;
}
.padding-10 {
    padding: 10px;
}

/* colors */
.background-blue {
    background-color: #03264C;
}
.color-white {
    color: #FFFFFF;
}
.color-green {
  color: #00a650;
}


.burger-menu {
    text-align: center;
}

.img {
    border-top: 1px solid #ebebeb;
}
div.img img {
    width: 100%;
}
.description {
    visibility: hidden;
    transition: transform 5s;

}


.container-flex-box {
  display: flex;
}
.flex-grow-30 {
  flex-grow: 0.3;
}
.flex-grow-50 {
  flex-grow: 0.5;
}
.flex-grow-70 {
  flex-grow: 0.7;
}

.flex-grow-1 {
  flex-grow: 1%;
}
.flex-grow-2 {
  display: none;
}
.flex-grow-3 {
  display: none;
}
.flex-grow-4 {
  display: none;
}

.container-truck {
  display: flex;
  justify-content: flex-end;
}
.container-truck i {
  border-radius: 100%;
  padding: 10px;
  border: solid;
  border-width: thin;
}

/* animaciones */

article:hover .description {
  visibility: visible;
}

i.rotate {
  transition: transform 5s;
}

article:hover i.rotate {
  transform: rotate(360deg);
}

.deal-effect {
  transition: width 2s, height 2s, transform 2s;
}

article:hover .deal-effect {
  transform: rotate(360deg);
}

/* TABLET */
@media (min-width: 361px) {
    nav {
        display: block;
    }

    section {
        flex-wrap: nowrap ;
    }
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .description {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    .flex-grow-1 {
      margin-right: 15px;
    }
    .flex-grow-2 {
      display: block;
    }

}

/* DESKTOP */
@media (min-width: 769px) {
  .flex-grow-2 {
    margin-right: 15px;
  }
  .flex-grow-3 {
    display: block;
    margin-right: 15px;
  }
  .flex-grow-4 {
    display: block;
  }
}



